@import "compass";
@import "compass/css3";
@import "compass/utilities";
//@import "compass/reset";
@import "sassy-buttons";

$action-color: #67a54b;
$action-color-darker: darken( $action-color, 10% );
body{
	font-family: "Helvetica Neue", sans-serif;
	margin: 0px;
	@include background(inline-image("argyle.png"));
}
h1 {
	margin-bottom: 18px;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}
input{
	@inline border-radius(3px);
}
#header{
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 4px solid white;
	padding: 20px;
	@include background(linear-gradient($action-color 22%, $action-color-darker));
	font-size: 24px;
	#title_bar{
		margin-left: 132px;
		margin-right: 152px;
		button{
			float: right;
		}
	}
}
#container{
	margin: 30px auto;
	margin-top: 100px;
	width: 800px;
	padding: 10px 20px 25px 20px;
	@include border-radius(15px);
	background: white;
	label{
		font-size: 12px;
	}
}
#signup_form{
	margin-left: 30px;
}
#login_button{
	@include sassy-button("simple", 3px, 12px, $action-color, $action-color-darker);
}
.confirm_button{
	@include sassy-button("simple", 3px, 12px, #4D8CCD, #3372B4);
}