@import "compass/reset";
@import '960/grid';
@import "sassy-buttons";

.bookmarks{
	clear: both;
	@include grid(10);
}

.bookmark{
	border: solid 1px #AAA;
	margin: 20px 0;
	padding: 7px 12px;
	@include border-radius(6px);
	@include transition(all, 500ms, ease-in-out);

	h2 {
    	margin: 0;
    	a { text-decoration: none; }
  	}
  	@include grid(1,5, 10px);
}

.new_bookmark {
  //@include button(simple, #3FB344);
  text-decoration: none;
  font-size: 16px;
  float: right;
  //@include grid(2);
}

.delete_button{
	text-decoration: none;
	@include sassy-button("flat", 3px, 10px, #EC4B25, #B52F10);
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}